<%inherit file="base.html"/>

<%block name="content">
  <div id="projects">
    % for item in items:
      <div class="item">
        <div class="top">
          <div class="date">${item.get("date", "")}</div>
          <div class="title">${item.get("title", "")}</div>
          <div class="description">${item.get("description", "")}</div>
          <div class="location">${item.get("location", "")}</div>
          <div class="collaborators">${item.get("collaborators", "")}</div>
        </div>
        <div class="content">
          ${item.content}
        </div>
      </div>
    % endfor
  </div>
</%block>