<%inherit file="base.html" />

<%block name="content">
  <div id="projects">
    % for category in category_order:
      <section>
        <h2>${category}</h2>
        % for item in items_by_category.get(category):
          <div class="item">
            <div class="top" onclick="open_item(this, event)">
              <div class="item-date"><span>${item.get("date", "")}</span></div>
              <div class="item-title"><span>${item.get("title", "")}</span></div>
              <div class="item-details"><span>${item.get("description", "")}</span></div>
              <div class="item-location"><span>${item.get("location", "")}</span></div>
              <div class="collaborators">
                <span>
                  % if item.get("collaborators"):
                    ${", ".join(item.get("collaborators", ""))}
                  % endif
                </span>
              </div>
            </div>
            <div class="content" style="display: none">
              <div class="description">
                ${item.content}
              </div>

              <div class="media">
                % if item.get("media"):
                  % for media_item in item.get("media"):
                  <div class="media-item">
                    % if media_item.type == "image":
                      <img src="${media_item.thumbnail_path}" />
                    % elif media_item.type == "video":
                      <img src="${media_item.thumbnail_path}" />
                    % endif
                  </div>
                  % endfor
                % endif
              </div>
            </div>
          </div>
        % endfor
      </section>
    % endfor
  </div>
</%block>
